*.swp

*.pyc
*.tokens
*.java
*.egg-info

build
dist

ADQLLexer.py
ADQLParser.py
ADQLParserListener.py

MySQLLexer.py
MySQLParser.py
MySQLParserListener.py
MySQLLexer2.py
MySQLParser2.py
MySQLParserListener2.py
