
name: pytest

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install -y default-jre
          python -m pip install --upgrade pip
          
      - name: Build queryparser
        run: |
          wget http://www.antlr.org/download/antlr-4.11.1-complete.jar
          make
          pip install -r requirements.txt -I -e .
          pip install pytest-cov
          pip install coveralls
          
      - name: Run Tests
        run: |
          pytest lib/ --cov=queryparser
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          
  coveralls:
    name: Indicate completion to coveralls
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Run Coveralls finish
      run: |
        pip install coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
